<table style="width:100%">
    <tr>
      <b><td style="width: 50%;">Plane number</td></b>
      <td style="width: 50%;">{{data.plane}}</td>
    </tr>
    <tr>
        <b><td style="width: 50%;">Duration of the flight </td></b>
      <td style="width: 50%;"> {{data.duration}}</td>
    </tr>
    <tr>
        <b><td style="width: 50%;">Origin gate </td></b>
      <td style="width: 50%;"> {{data.from}}</td>
    </tr>
    <tr>
        <b><td style="width: 50%;">Destination gate </td></b>
      <td style="width: 50%;"> {{data.to}}</td>
    </tr>
  </table>